@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Nunito+Sans:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300&family=Roboto+Mono:wght@300&display=swap');

*,
*::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

.container{
  contain: 1300px;
  padding: 0 80px;
  margin: 0 auto;
}

/*nabvar styling*/
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  transition: all 0.3s ease;
}

.navbar.sticky{
  padding: 10px 0;
  background: #ff7200;
}

.navbar .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span{
  color: #fff;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
  color: #fff;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color: #ff7200;
}

.navbar.sticky .menu li a:hover{
  color: #000;
}

.navbar .search {
  width: 250px;
  float: right;
}

.navbar .srch {
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 30px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.5);
  border-right: none;
  font-size: 13px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.navbar.sticky .srch{
  border: 1px solid #fff;
}

.btn {
  width: 80px;
  height: 30px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar.sticky .btn{
  background: #fff;
  border: 2px solid #fff;
  color: #ff7200;
}

.btn:focus {
  outline: none;
}

.navbar .srch:focus {
  outline: none;
}

.navbar .butonlar {
  width: 205px; /*butonlar sığmazsa 205 yap diğer sayfaları da*/
  float: right;
}

.btnlr {
  width: 100px;
  height: 30px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.navbar.sticky .btnlr{
  background: #fff;
  border: 2px solid #fff;
  color: #ff7200;
}

/*menu btn styling*/
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer; /*fare imleci basılabilir oluyor*/
  display: none;
}

/* section styling */
section{
  padding: 40px 0;
}

/*home styling*/ 
.home{
  display: flex;
  background: url("images/howitworks.jpeg") no-repeat center; /*object-fit: cover resmin büyüklüğünü bpyutuna göre ayarlar*/
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 100vh; /*resmin büyüklüğünü ayarlamak için örn contactda 300 sayfada daha yukarıdan başlıyor yazılar*/
  font-family: 'Roboto Mono', monospace;
}

.home .max-width{
  margin: auto 0 auto 40px;
}

.home-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.home-content h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
}

.home-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 2px;
}

.home-content .cn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.home-content .cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.home-content .text-1{
  font-size: 50px;
  color: black;
}

.cn:hover {
  background-color: #fff;
}

.home-content span {
  color: #ff7200;
  font-size: 60px;
}

/*about section styling start*/
.about{
  margin-bottom: 15px;
  font-family: 'Nunito Sans', sans-serif;
}

.about .about-title{
margin: 40px 0;
}

.about-title h2{
  width: 100%;
  text-align: center;
  margin: 0 ;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
 }
  
.about-title h2::after{
  content: "";
  width: 5%;
  height: 3px;
  background-color: #111;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}
  
.about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
  
.about-img{
  width: 40%;
}
  
.about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  
}
  
.about-text{
  width: 40%;
  align-items: center;
}
  
h4{
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.5rem;
  font-weight: 150;
}
  
.about-text p{
  font-size: 15px;
  text-align: center;
}

.btn-more{
  position: absolute;
  display: block;
  background: #ff7200;
  color: #fff;
  width: 135px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 15px;
  margin-top: 20px;
  margin-left: 33%;
  border-radius: 6px;
  border: 2px solid #ff7200;
  transition: all 0.3s ease;
}
  
.btn-more:hover{
  color: #ff7200;
  background: none;
}
/*about section styling finish*/

/*educate section styling start*/
.educate{
  margin-bottom: 0;
  font-family: 'Poppins',sans-serif;
}

.educate .container{
  margin: 0 0;
}

.educate .educate-title{
margin: 30px 0;
}

.educate-title h2{
  width: 100%;
  text-align: center;
  margin: 0 ;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
}
  
.educate-title h2::after{
  content: "";
  width: 25%;
  height: 3px;
  background-color: #111;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}
 
.educate .educate-content{
	display: flex; /*yan yana*/
	flex-wrap: wrap; /*sığmayanlar aşağıya, overflow hidden: sığmayanları sakla*/
	align-items: center;
	justify-content: space-between;
}

.educate .educate-content .card{
	width: calc(33% - 20px);
	height: 300px;
  text-align: center;
  border-radius: 6px;
	padding: 25px 45px;
  /*background-color: #fff1e6;*/
}

.educate .educate-content .card .box{
	transition: all 0.3s ease;
}

.educate .educate-content .card i{
	font-size: 50px;
	color: #ff7200;
}

.educate .educate-content .card .text{
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.5rem;
  font-weight: 150;
}

.educate-content p{
  font-size: 15px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.educate .box2{
  width: calc(100% - 20px);
  margin-top: 35px ;
	text-align: center;
	padding: 20px 25px;
}

.box2 .text-2{
  font-size: 20px;
  font-weight: 350;
  margin-left: -3px;
}

.educate .box2 .button{
  margin: 14px 0;
}
 
.educate .box2 .button button{
  outline: none;
	color:#fff;
	font-size: 20px;
	font-weight: 500;
	padding: 5px 50px;
	background: #ff7200;
  border: 2px solid #ff7200;
	transition: all 0.3s ease;
  border-radius: 6px;
}

.educate .box2 .button button:hover{
  color: #fff;
  background-color: black;
  border-color: #1c1d1f ;
}
/*educate section styling finish*/

/*instructor section styling start

.instructor{
  margin: 0 0;
  overflow-x: auto;
}

.instructor .instructor-title{
  margin: 30px 0;
}

.instructor-title h2{
  width: 100%;
  text-align: center;
  margin: 0 ;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
}
  
.instructor-title h2::after{
  content: "";
  width: 10%;
  height: 3px;
  background-color: #111;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.instructor .container{
  margin-left: 0;
  margin-right: 0;
  display: flex; /*yan yana
  overflow-x: auto;
  justify-content: space-between;
}

.instructor-item{
  float: left;
  min-width: 25%;
  height: 300px;
  overflow-x: auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 10px 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  
}

.instructor-item img{
  width: 300px;
  height: 100%;
  object-fit: cover;
  overflow-x: scroll;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: #ff8019;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0.8;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.overlay .text-1{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-top: 7px;
}

.overlay .text-2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.instructor-item:hover .overlay{
  top: 80%;
}

/*instructor section styling finish*/

/*instructordeneme section styling start*/

.instructor{
  min-height: 100vh;
  margin: 0 0;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
}

.instructor .instructor-title{
  margin: 30px 0;
}

.instructor-title h2{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
}
  
.instructor-title h2::after{
  content: "";
  width: 10%;
  height: 3px;
  background-color: #111;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.slide-container{
  max-width: 1700px;
  width: 100%;
  padding: 40px 0;
  display: flex;
}
.slide-content{
  margin: 40px 50px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #fafafa;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ff7200;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ff7200;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fafafa;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #afa4b2;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ff7200;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.vm-button{
  border: none;
  font-size: 16px;
  color: #afa4b2;
  padding: 8px 16px;
  background-color: #ff7200;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.vm-button:hover{
  background: #ff7200;
}

.swiper-navBtn{
  color: #ff7200;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #ff7200;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #ff7200;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #ff7200;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/*instructordeneme section styling finish*/

/*Contact Section */
.contact{
  margin-bottom: 100px;
  font-family: 'Poppins',sans-serif;
}

.contact .container{
  margin: 0 0;
}

.contact .contact-title{
margin: 30px 0;
}

.contact .contact-title h2{
  width: 100%;
  text-align: center;
  margin: 0 ;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
 }
  
.contact .contact-title h2::after{
  content: "";
  width: 80px;
  height: 3px;
  background-color: #111;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .column-left{
  width: calc(45% - 20px);
}

.contact .contact-content .column-left p{
  text-align: justify;
}

.contact .contact-content .column-left .icons{
  margin: 10px 0;
}

.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info{
  margin-left: 30px;
}

.contact .contact-content .row i{
  font-size: 25px;
  color: #ff7200;
}

.contact .contact-content .info .head{
  font-weight: 500;
}

.contact .contact-content .info .sub-title{
  color:#333;
}

.contact .column-right form .fields{
  display: flex;
}

.contact .column-right form .field,
.contact .column-right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .column-right form .textarea{
  height: 80px;
  width: 100%;
}
  
.contact .column-right form .name{
  margin-right: 10px;
}

.contact .column-right form .email{
  margin-left: 10px;
}

.contact .column-right form .field input,
.contact .column-right form .textarea textarea{
  height: 100%;
  width: 100%;
  border:1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins','sans-serif';
}

.contact .column-right form .textarea textarea{
  padding-top: 10px;
  resize:none;
}

.contact .column-right form .button{
  height: 47px;
  width: 170px;
}

.contact .column-right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid #ff7200;
  background: #ff7200;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .column-right form .button button:hover{
  color: #ff7200;
  background: none;
}
/*contact finish

/*responsive media query start*/
@media (max-width: 1208px){
  .max-width{
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar .search{
    display: none;
  }
  .navbar .srch{
    display: none;
  }
}

.footer{
  font-family: 'Poppins',sans-serif;
}

footer{
  background: #111;
  padding: 20px 23px;
  color:#fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer span a{
   color:#ff7200;
   text-decoration: none;
}

footer span a:hover{
  text-decoration: underline;
}